html {
    font-size: 18px;
}

body {
    width: 100%;
}

header {
    background-image: url('../../resources/images/mobybanner.jpg');
    height: 270px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1, h2, h3, h4 {
    font-family: 'Eczar', serif;
}

header h1 {
    font-size: 3rem;
}

header h2 {
    font-size: 2.5rem;
}

header h1, header h2 {
    width: 38rem;
    position: relative;
    left: 8rem;
    top: 3rem;
}

p {
    font-family: 'Lato', sans-serif;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

b {
    font-weight: 700;
    font-size: 0.95rem;
}

.parentcontainer {
    background-color: #6bc6f0;
    height: 1100px;
}

.content {
    position: relative;
    border: 2px rgb(66, 72, 77) groove;
    outline: 2px grey groove;
    outline-offset: 0.5px;
    top: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    background-color: rgba(156, 197, 224, 0.8);
    width: 65%;
    min-height: 650px;
}

.content h3 {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

.content h4 {
    font-size: 1.05rem;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}

select {
    height: 1.3rem;
    margin-bottom: 1rem;
}

.dimesmargin {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.nickelsmargin {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    
}

#cashCalculate {
    margin-top: 0.75rem;
}

.replenishcontainer {
    padding-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.replenishcontainer h1 {
    font-size: 1.3rem;
    font-family: 'Eczar', serif;
    margin-top: 0.3rem;
}

.replenishcontainer h2 {
    font-size: 1.2rem;
}

.replenishflexbox {
    display: flex;
    position: relative;
    justify-content: space-around;
    right: 4rem;
    width: 50rem;
}

.replenishheader {
    display: flex;
    justify-content: space-between;
    width: 32rem;
}

#cashdifference {
    margin-bottom: 1rem;    
}

.borderline {
    border-right: 1px black solid;
}

#registertotal {
    position: relative;
}

.totalfloat {
    text-decoration: black underline double;
}

.floatflexbox {
    display: flex;
    justify-content: space-between;
    width: 12rem;
}

.totalflexbox {
    display: flex;
    justify-content: space-between;
    width: 12rem;
}

.mediatotalheader {
    display: none;
}